# **CASE: eCOMMERCE**

---

### Instalação de bibliotecas

In [1]:
# # Para utilização do algoritmo k-medoides
# install.packages("cluster")

### Carregamento de bibliotecas

In [2]:
library(tidyverse) # já pré-instalado, se for em Google Colab
library(cluster)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

### Leitura da base de dados

In [3]:
dados_ecommerce <- read.table(file   = "../Dados/eCommerce.txt",
                              sep    = "\t",
                              header = TRUE)

### Visualização da base de dados

In [4]:
View(dados_ecommerce)

     ID_CLIENTE CATEGORIA  VALOR_PAGO NOTA_SATISFACAO
1     1         televisao  2190        6
2     2         celular    1140        9
3     3         celular    1570        7
4     4         celular     970        6
5     5         celular     970       10
6     6         computador 1800        6
7     7         televisao  1690        0
8     8         celular    1070       10
9     9         televisao  1610        7
10   10         computador 1870        2
11   11         celular    1800       10
12   12         computador 1820        5
13   13         televisao  1600       10
14   14         televisao  1990        1
15   15         televisao  1710        5
16   16         celular    1000       10
17   17         televisao  2350        6
18   18         celular    1410        7
19   19         celular    1200        8
20   20         celular    1080        5
21   21         celular    1110        8
22   22         celular    1030        6
23   23         celular    1080       10
24   24         celular    1720        7
25   25         celular    1370        8
26   26         celular    1580       10
27   27         televisao  1740        6
28   28         computador 1720        3
29   29         computador 1740        4
30   30         televisao  1860        8
⋮    ⋮          ⋮          ⋮          ⋮
2963 2963       computador 2000        5
2964 2964       celular     910        8
2965 2965       computador 2830        9
2966 2966       celular    1100        9
2967 2967       televisao  2180        8
2968 2968       televisao  1220        2
2969 2969       computador 2510       10
2970 2970       computador 2710        7
2971 2971       celular    1090        9
2972 2972       computador 2450        8
2973 2973       celular    1420        9
2974 2974       televisao  1840        7
2975 2975       celular    1370        8
2976 2976       celular    1640       10
2977 2977       computador 2600       10
2978 2978       televisao  1430        5
2979 2979       computador 2080        2
2980 2980       computador 1780        1
2981 2981       celular    1220        9
2982 2982       celular    1400        9
2983 2983       televisao  1640        9
2984 2984       celular    1150       10
2985 2985       computador 1890        6
2986 2986       computador 2500        9
2987 2987       celular    1070       10
2988 2988       celular    1040       10
2989 2989       celular    1060        7
2990 2990       celular    1760        9
2991 2991       computador 1660        5
2992 2992       celular    1790        8

### Análise exploratória breve

In [5]:
# Medidas resumo
summary(dados_ecommerce)

   ID_CLIENTE      CATEGORIA           VALOR_PAGO   NOTA_SATISFACAO
 Min.   :   1.0   Length:2992        Min.   : 910   Min.   : 0.00
 1st Qu.: 748.8   Class :character   1st Qu.:1120   1st Qu.: 6.00
 Median :1496.5   Mode  :character   Median :1530   Median : 8.00
 Mean   :1496.5                      Mean   :1609   Mean   : 7.42
 3rd Qu.:2244.2                      3rd Qu.:1880   3rd Qu.:10.00
 Max.   :2992.0                      Max.   :3660   Max.   :10.00

In [6]:
# Tabela de frequências: categoria
table(dados_ecommerce$CATEGORIA)
prop.table(table(dados_ecommerce$CATEGORIA))

   celular computador  televisao
      1446        690        856

   celular computador  televisao
 0.4832888  0.2306150  0.2860963

### Agrupamento pelo algoritmo k-medoides

In [7]:
# Transformação das variáveis qualitativas em 'fatores' (requisito para o algoritmo k-medoides no R)
dados_ecommerce$CATEGORIA <- as.factor(dados_ecommerce$CATEGORIA)

In [8]:
# Cálculo da matriz de distâncias para as variáveis de interesse, utilizando a distância de Gower
dist_ecommerce_gower <- daisy(dados_ecommerce[, c("CATEGORIA",
                                                  "VALOR_PAGO",
                                                  "NOTA_SATISFACAO")],
                              metric = "gower")

In [9]:
# Definição de semente aleatória, para reprodutibilidade dos resultados
set.seed(12345)

In [10]:
# Execução do algoritmo para diferentes valores de k
clust_ecommerce_k3 <- pam(dist_ecommerce_gower, diss = TRUE, k = 3)
clust_ecommerce_k4 <- pam(dist_ecommerce_gower, diss = TRUE, k = 4)
clust_ecommerce_k5 <- pam(dist_ecommerce_gower, diss = TRUE, k = 5)

In [11]:
# Registrando os clusters das simulações como novas colunas na base de dados
dados_ecommerce$cluster_k3 <- clust_ecommerce_k3$clustering
dados_ecommerce$cluster_k4 <- clust_ecommerce_k4$clustering
dados_ecommerce$cluster_k5 <- clust_ecommerce_k5$clustering

### Análise descritiva dos clusters do algoritmo k-medoides

### k = 3

In [12]:
# Médias das variáveis quantitativas
dados_ecommerce %>%
  group_by(cluster_k3) %>%
  summarise(valor_pago_medio      = round(mean(VALOR_PAGO), 0),
            nota_satisfacao_media = round(mean(NOTA_SATISFACAO), 1),
            qtde_clientes         = n(),
            perc_clientes         = round(n()/nrow(dados_ecommerce),2)) %>%
  View()

  cluster_k3 valor_pago_medio nota_satisfacao_media qtde_clientes perc_clientes
1 1          1822             6.2                    856          0.29
2 2          1201             8.6                   1446          0.48
3 3          2201             6.5                    690          0.23

In [13]:
# Distribuição (em %) da variável qualitativa, por cluster
round(prop.table(table(dados_ecommerce$cluster_k3, dados_ecommerce$CATEGORIA), 1), 2)

    celular computador televisao
  1       0          0         1
  2       1          0         0
  3       0          1         0

### k = 4

In [14]:
# Médias das variáveis quantitativas
dados_ecommerce %>%
  group_by(cluster_k4) %>%
  summarise(valor_pago_medio      = round(mean(VALOR_PAGO), 0),
            nota_satisfacao_media = round(mean(NOTA_SATISFACAO), 1),
            qtde_clientes         = n(),
            perc_clientes         = round(n()/nrow(dados_ecommerce),2)) %>%
  View()

  cluster_k4 valor_pago_medio nota_satisfacao_media qtde_clientes perc_clientes
1 1          1822             6.2                   856           0.29
2 2          1205             9.6                   941           0.31
3 3          1193             6.8                   505           0.17
4 4          2201             6.5                   690           0.23

In [15]:
# Distribuição (em %) da variável qualitativa, por cluster
round(prop.table(table(dados_ecommerce$cluster_k4, dados_ecommerce$CATEGORIA), 1), 2)

    celular computador televisao
  1       0          0         1
  2       1          0         0
  3       1          0         0
  4       0          1         0

### k = 5

In [16]:
# Médias das variáveis quantitativas
dados_ecommerce %>%
  group_by(cluster_k5) %>%
  summarise(valor_pago_medio      = round(mean(VALOR_PAGO), 0),
            nota_satisfacao_media = round(mean(NOTA_SATISFACAO), 1),
            qtde_clientes         = n(),
            perc_clientes         = round(n()/nrow(dados_ecommerce),2)) %>%
  View()

  cluster_k5 valor_pago_medio nota_satisfacao_media qtde_clientes perc_clientes
1 1          1822             6.2                   856           0.29
2 2          1205             9.6                   941           0.31
3 3          1193             6.8                   505           0.17
4 4          1809             3.9                   342           0.11
5 5          2585             9.0                   348           0.12

In [17]:
# Distribuição (em %) da variável qualitativa, por cluster
round(prop.table(table(dados_ecommerce$cluster_k5, dados_ecommerce$CATEGORIA), 1), 2)

    celular computador televisao
  1       0          0         1
  2       1          0         0
  3       1          0         0
  4       0          1         0
  5       0          1         0